/*nave bar css*/

.sidenav {
 width: 300px;
 position: static !important;
 margin-top: 0px !important; 
 margin-left: 0px !important;
 background: rgba(238, 238, 238, 0.418);
outline-style: auto;
}

.sidenav a {
 padding:  9px 15px 20px;
 text-decoration: none;
 font-size: 25px;
 color: #9e049e;
 display: block;
}

.sidenav a:hover {
 color: #c564ce;
}

.dashHeader{
 color: rgb(182, 178, 178);
 font-family: Georgia, 'Times New Roman', Times, serif;
 padding-top: 10px;
}

.adminBtn{
 margin-left: 125px;
}

/*.adminDetailTable{
 width: 300px; 
 margin-left: 600px; 
}*/